/* styles.css */

/* Global styles */
body {
    background-color: #040404;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

/* Neon glowing effect */
.neon-glow {
    box-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff, 0 0 80px #0ff; /* Green glowing effect */
}

/* Search input */
.search-input {
    background-color: #212121;
    border: none;
    color: #fff;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 20px;
    width: 100%;
    box-sizing: border-box;
}

.search-input::placeholder {
    color: #9e9e9e;
}

/* Container */
.container {
    padding: 20px;
}

/* Card */
.card {
    background-color: #282828;
    border: 1px solid #383838;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
    padding: 20px;
    position: relative; /* Position for pseudo-element */
}

.card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid #0ff; /* Neon glowing effect */
    animation: neon-glow 1.5s infinite alternate; /* Neon glowing animation */
}

@keyframes neon-glow {
    from {
        opacity: 0.4;
        box-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff, 0 0 80px #0ff; /* Green glowing effect */
    }
    to {
        opacity: 0;
        box-shadow: none;
    }
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 255, 0, 0.2), 0 6px 20px rgba(0, 255, 0, 0.19); /* Green shadow on hover */
}

.card-title,
.card-text {
    color: #fff;
    margin-bottom: 10px;
}

/* Button */
.play-btn {
    background-color: #1DB954;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.play-btn:hover {
    background-color: #1ed760;
}

/* Grid */
/* styles.css */

/* Grid */
.album-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjusted grid columns */
    gap: 20px;
    margin: 20px;
}

/* Album image */
.album-img {
    width: 10%;
    max-width: 10%; /* Ensure images scale properly */
    height: auto;
}


/* Improved card layout */
.card {
    background-color: #282828;
    border: 1px solid #383838;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 255, 0, 0.2), 0 6px 20px rgba(0, 255, 0, 0.19); /* Green shadow on hover */
}

.card-title,
.card-text {
    color: #fff;
    margin-bottom: 10px;
}
